body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


#board {
    height: 270px;
    width: 240px;
    /* background-color: blue ; */
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tile {
    border: solid 2px black;
    height: 30px;
    width: 30px;
    margin: 2.5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.tile {
    font-size: 40px;
}

.correct{ 
    background-color: #6AAA64;
    color: #FFFFFF;
    border-color: #6AAA64;
}
.includes{
    background-color: #C9B458;
    color: #FFFFFF;
    border-color: #C9B458;
}
.absent{
    background-color: #787C7E;
    color: #FFFFFF; 
    border-color:#787C7E;
}